.tourDetail{
  .iconShare{
    font-size: 24px;
  }
  .iconStar{
    margin-right: 4px;
    margin-top: 8px;
  }
  .iconSpecification{
    margin: 0px 4px 8px 4px;
  }
  .tourInfo{
    ion-row{
      background: #EFF0F8;
      padding:8px;
      margin-bottom: 16px;
    }
  }
  .imageIndex{
    ion-badge{
      padding:8px;
      background-color: var(--ion-color-dark, #222428) !important;
    }
    margin-top: -53px;
  }
  .full-width-slide{
    z-index: 0;
    img{
      width: 100% !important;
    }
  }

  --background: #eeeeee;
  .tourDetailSlides{
    z-index: 0;
    img{
      width: 100%;
    height: 240px;
    object-fit: cover;
    }
  }
}
.modalItenerary{
  --background: #eeeeee;
}
